* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Gill Sans', sans-serif;
    font-size: 20px;
    color: #333;
    line-height: 1.5;
  }
  
  button, a {
    cursor: pointer;
    transition: color 0.3s ease;
  }

  
  button{
    background-color: aliceblue;
    padding: 10px 20px;
    letter-spacing: 2px;
    border: none;
    border-radius: 2px;
  }

  button:hover {
    color: #000000;
    border: 1px solid black;
    transition: border 0.3s ease-in-out;
}
  
  ul { list-style: none; }
  a { text-decoration: none; }


  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #635888;
}